@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.mb {
  margin-bottom: 2rem; }

.contenedorindex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "navindex" "headerindex" "mainindex" "footerindex"; }

.navindex {
  grid-area: navindex; }

.headerindex {
  grid-area: headerindex; }

.mainindex {
  grid-area: mainindex; }

.footerindex {
  grid-area: footerindex; }

.contenedornosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "navnosotros navnosotros" "imagennosotros parrafonosotros" "sectionnosotros sectionnosotros" "footerindex footerindex"; }
  @media (max-width: 998px) {
    .contenedornosotros {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "navnosotros" "parrafonosotros" "sectionnosotros" "footerindex"; } }

.navnosotros {
  grid-area: navnosotros; }

.imagennosotros {
  grid-area: imagennosotros; }

.parrafonosotros {
  grid-area: parrafonosotros;
  padding: 4rem; }

.sectionnosotros {
  grid-area: sectionnosotros; }

nav ol {
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav ol li {
    display: flex; }
    nav ol li a {
      text-decoration: none; }

#nav--li-a {
  color: #3e3b3b;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  font-size: 2.8rem; }

#nav--li-a:hover {
  color: #5485b7;
  transition: 0.5s;
  background-size: 100% 2px; }

.nav--images {
  height: 30px;
  width: 30px;
  margin-bottom: 1rem; }

.nav--imagelogo {
  height: 75px;
  width: 150px; }

.nav--displayflex {
  display: flex; }

.marginright3 {
  margin-right: 3rem; }

.margintop1 {
  margin-top: 1rem; }

.marginright1 {
  margin-right: 1rem; }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto; }

.carousel__contenedor {
  position: relative; }

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%; }

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%; }

.carousel__anterior {
  left: -30px; }

.carousel__siguiente {
  right: -30px; }

header img {
  width: 100%; }

.titulos, .titulos--productos {
  color: #7e7c7c;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 40px 5px 40px 5px;
  border-top: solid 1px #7e7c7c;
  padding: 4rem;
  font-weight: 500; }

.titulos--productos {
  padding-top: 5rem;
  font-weight: 300;
  padding-bottom: 1rem; }

.titulos--nosotros {
  color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 40px 5px 40px 5px; }

.card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

#w90 {
  margin: auto; }

#button {
  font-size: 2rem;
  font-weight: 200;
  border-radius: 0.8rem;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 2.5rem;
  text-decoration: none; }
  #button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s; }

.section-divisor {
  background-color: #626262;
  width: 100%;
  height: 8rem;
  margin-top: 5rem;
  margin-bottom: 5rem; }

p {
  color: #7e7c7c;
  font-size: 2rem; }

.marginright1 {
  margin-right: 1rem; }

.marginright3 {
  margin-right: 3rem; }

.marginright8 {
  margin-right: 8rem; }

.marginleft {
  margin-left: 5rem; }

.marginleft2 {
  margin-left: 2rem; }

.marginleft25 {
  margin-left: 25rem; }

.margintop {
  margin-top: 3rem; }

.margintop1 {
  margin-top: 1rem; }

.margintop2 {
  margin-top: 1.6rem; }

.paddingleft8 {
  padding-left: 8rem; }

.paddingright {
  padding-right: 10rem; }

.section--image {
  margin: 0.5rem;
  height: 36rem;
  width: 23.8%; }

.textright {
  text-align: right !important; }

.textcenter {
  text-align: center; }

.imgnosotros {
  width: 90%;
  margin-top: 15rem;
  padding: 4rem; }

.displayf {
  display: flex; }

@media (max-width: 998px) {
  .ocultardiv {
    display: none; } }

.form-controll {
  display: block;
  width: 90%;
  padding: 0.65rem 1.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

@media (max-width: 2000px) {
  .section--image {
    width: 23.5%; } }

@media (max-width: 1195px) {
  .section--image {
    width: 45%; } }

@media (max-width: 717px) {
  .section--image {
    width: 95%; } }

.error1 {
  margin: 0;
  padding: 0;
  height: 100%; }

.error2 {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #2D72D9;
  color: #fff;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

.error-container {
  text-align: center;
  height: 100%; }

@media (max-width: 480px) {
  .error-container {
    position: relative;
    top: 50%;
    height: initial;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); } }

.error-container h1 {
  margin: 0;
  font-size: 130px;
  font-weight: 300; }

@media (min-width: 480px) {
  .error-container h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); } }

@media (min-width: 768px) {
  .error-container h1 {
    font-size: 220px; } }

.return {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0; }

@media (min-width: 480px) {
  .return {
    position: absolute;
    width: 100%;
    bottom: 30px; } }

.return a {
  padding-bottom: 1px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in; }

.return a:hover {
  border-bottom-color: #fff; }

footer {
  font-family: Monserrat, Sans-serif;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  padding: 3rem;
  margin-top: 2rem;
  flex-wrap: nowrap;
  justify-content: space-between; }
  footer h4 {
    padding: 10px; }
  footer article p {
    font-family: Monserrat, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    color: #1a1a1a; }

.footer-index {
  display: flex; }
  @media (max-width: 910px) {
    .footer-index {
      flex-direction: column; } }

.footer--contacto-display {
  display: flex; }

.footer--imageslogistica {
  height: 45px;
  width: 75px;
  padding: 5px; }

.footer--imagescontacto {
  height: 50px;
  width: 50px;
  padding: 5px; }

@media (max-width: 910px) {
  iframe {
    width: 95%; } }
