//Colores

$Navcolor: #3e3b3b;
$Navhcolor: #5485b7;
$Tituloscolor: #7e7c7c;
$Tituloblack: #1a1a1a;
$Footerbgcolor: #3e3b3b;
$Buttonbgcolor: #212529;
$Sectiondiv: #626262;

//Width

$w100: 100%;
$w95: 95%;
$w75: 75%;
$w50: 50%;
$w25: 25%;
$w23: 23%;


