//Anidación

header{
	img{
		width: $w100;
	}
}
.titulos {
	color: $Tituloscolor;
	font-family: $Mainfont;
	text-align:center;
	margin: 40px 5px 40px 5px;
	border-top: solid 1px $Tituloscolor;
	padding: 4rem;
	font-weight: 500;
}
.titulos--productos {
	@extend .titulos;
	padding-top: 5rem;
	font-weight: 300;
	padding-bottom: 1rem;
}
.titulos--nosotros {
	color: $Tituloblack;
	font-family: $Mainfont;
	text-align:center;
	margin: 40px 5px 40px 5px;
}
.card:hover{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5)
}
#w90{
	margin:auto;
}
#button{
	font-size: $Fontm;
	font-weight: 200;
	border-radius: 0.8rem;
	border: 0.16rem solid rgba(0,0,0,0.3);
	color: #fff;
	background-color: $Buttonbgcolor;
	border-color: #212529;
	font-family: $Mainfont;
	padding: 0.5rem 2.5rem;
	text-decoration: none;
	&:hover{
		cursor: pointer;
		background-color: black;
		transition: 0.5s;
	}
}
.section-divisor{
	background-color: $Sectiondiv;
	width: $w100;
	height: 8rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
p{
	@include texto(#7e7c7c,2rem)
};

.marginright1{
	margin-right: 1rem;
}
.marginright3{
	margin-right: 3rem;
}
.marginright8{
	margin-right: 8rem;
}
.marginleft{
	margin-left: 5rem;
}
.marginleft2{
	margin-left: 2rem;
}
.marginleft25{
	margin-left: 25rem;
}
.margintop{
	margin-top: 3rem;
}
.margintop1{
	margin-top: 1rem;
}
.margintop2{
	margin-top: 1.6rem;
}
.paddingleft8{
	padding-left: 8rem;
}
.paddingright{
	padding-right: 10rem;
}
.section--image{
	margin: 0.5rem;
	height: 36rem;
	width: 23.8%;
}
.textright {
	text-align: right !important;
}
.textcenter {
	text-align: center;
}
.imgnosotros{
	width: 90%;
	height: 95%;
	padding: 4rem;
}
.ocultardiv{}
.ocultardiv{
	@media(max-width: 998px){
		display: none;
	}
}
.form-controll {
    display: block;
    width: 90%;
    padding: 0.65rem 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section--image{
	@media(max-width: 2000px){
		width: 23.5%;
	}
	@media(max-width: 1195px){
		width: 45%;
	}
	@media(max-width: 717px){
		width: 95%;
	}
}
